{{ define "index/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="蒋小凡" />
    <meta name="Copyright" content="蒋小凡" />
    <meta name="description" content="蒋小凡的主页" />
    <meta name="keywords" content="个人主页 蒋小凡" />
    <title>Jiang XiaoFan</title>
    <link rel="Shortcut Icon" href="/public/static/images/favicon.ico">
    <link type="text/css" rel="styleSheet" href="/public/static/css/style.css" />
</head>
<body>
<div class="con-main">
    <!-- 导航 -->
    <div class="con-left">
        <div class="head">
            <a href="/"><img src="/public/static/images/head.jpg" title="蒋小凡"></a>
        </div>
        <div class="name"><a href="/card"><strong>JIANG XIAOFAN</strong></a></div>
        <div class="about">
            <ul>
                <li>
                    <span><a href="javascript:" >作品集</a></span>
                    <ul class="zuopin-type">
                        <li><a href="/photo/shan">摄影</a></li>
                        <li><a href="/photo/net">网站</a></li>
                    </ul>
                </li>
                <li><a href="/weibo">微博</a></li>
                <li><a href="/article/">文章</a></li>
                <li><a href="/card">关于我</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容 -->
    <div class="con-right">
        <div style="margin-bottom:10px;"><img src="/public/static/images/index.jpg"></div>

        <div style="margin-bottom: 15px;">
            <div id="aplayer1" class="aplayer"></div>
        </div>

        <div>
            <p>想起那天夕陽下的奔跑，那是我逝去的青春</p>
            <p>我是小凡，凡即簡，一個極簡愛好者</p>
        </div>

        <div class="foot">
            ©JIANG XIAOFAN 2016 浙ICP备16012498号
        </div>
    </div>
</div>

<script src="/public/static/js/jquery-3.3.1.min.js"></script>
<script src="/public/static/js/APlayer/APlayer.min.js"></script>
<script>
    // 下拉导航
    $(document).ready(function(){
        $("span a").click(function(){
            $(this).parent().next().slideToggle();
            $(this).parent().prevAll("ul").slideUp("slow");
            $(this).parent().next().nextAll("ul").slideUp("slow");
            return false;
        });
    });

    // 音乐播放插件
    var ap = new APlayer({
        element: document.getElementById('aplayer1'),
        narrow: false,
        autoplay: false,
        showlrc: false,
        mutex: true,
        theme: '#ad7a86',
        mode: 'random',
        music: [
            {
                title: 'ブルーバード', // 青鸟
                author: 'いきものがかり',
                //url: '__STATIC__/music/qingniao.mp3',
                url: 'http://on7plg7jx.bkt.clouddn.com/qingniao.mp3',
                pic: '/public/static/music/qingniao.jpg'
            },
            {
                title: '红莲の弓矢', // 进击的巨人
                author: 'Sound Horizon',
                //url: '__STATIC__/music/jinji.mp3',
                url: 'http://on7plg7jx.bkt.clouddn.com/jinji.mp3',
                pic: '/public/static/music/jinji.jpg'
            },
            {
                title: 'Butter-Fly', // 数码宝贝
                author: '和田光司',
                //url: '__STATIC__/music/Butter-Fly.mp3',
                url: 'http://on7plg7jx.bkt.clouddn.com/Butter-Fly.mp3',
                pic: '/public/static/music/shuma.jpg'
            }
        ]
    });
</script>
</body>
</html>
{{ end }}